@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-border {
  border-width: 30px;
}

.generated-text {
  background-color: #e4e4e7; /* Example background color */
  padding: 8px;
  border-radius: 4px;
}

#messageHistory {
  height: 24rem; /* Equivalent to h-96 in Tailwind CSS */
  overflow-y: auto;
}

#messageHistory::-webkit-scrollbar {
  width: 0;
  height: 0;
}